{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user_profile.username }}'s Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{% if user_profile.profile_picture %}{{ user_profile.profile_picture.url }}{% else %}{% static 'images/default_profile.png' %}{% endif %}" alt="{{ user_profile.username }}" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
            <h3>{{ user_profile.first_name }} {{ user_profile.last_name }}</h3>
            <p class="text-muted">@{{ user_profile.username }}</p>
            {% if user_profile.bio %}
                <p>{{ user_profile.bio }}</p>
            {% endif %}
            {% if request.user == user_profile %}
                <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h4>Clubs</h4>
            {% if memberships %}
                <ul>
                {% for membership in memberships %}
                    <li><a href="{% url 'club_detail' membership.club.id %}">{{ membership.club.name }}</a> ({{ membership.get_status_display }})</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{{ user_profile.username }} is not a member of any clubs yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}